<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <header>
        <nav>
          <ul>
            {% if user.is_authenticated %}
              <li><a href="{% url 'home' %}">Receipts</a></li>
              <li><a href="{% url 'category_list' %}">Expense Categories</a></li>
              <li><a href="{% url 'account_list' %}">Accounts</a></li>
              <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
              <li><a href="{% url 'create_category' %}">Create Category</a></li>
              <li><a href="{% url 'create_account' %}">Create Account</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'signup' %}">Sign Up</a></li>
              <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
          </ul>
        </nav>
    </header>
    <main>
        <h1>My Receipts</h1>
            <table>
                <tr>
                    <thead>Vendor</thead>
                    <thead>Total</thead>
                    <thead>Tax</thead>
                    <thead>Date</thead>
                    <thead>Category</thead>
                    <thead>Account</thead>
                </tr>
                {% for receipt in receipts %}
                    <tr>
                        <td> {{ receipt.vendor }} </td>
                        <td> {{ receipt.total }} </td>
                        <td> {{ receipt.tax }} </td>
                        <td> {{ receipt.date|date:"m/d/y" }} </td>
                        <td> {{ receipt.category.name }} </td>
                        <td> {{ receipt.account.name }} </td>
                    </tr>
                {% endfor %}
            </table>
    </main>
</body>
</html>
